/* Default style for all */
.root {
    -fx-font-family: Inter;
    -fx-font-size: 14px;
}

/* Label styles */
.mainTitle.label {
    -fx-font-size: 40px;
    -fx-font-weight: bold;
}
.title.label {
    -fx-font-size: 20px;
    -fx-font-weight: bold;
}

.outlineMainTitle.label .text {
    -fx-fill: #c8b6e2;
    -fx-stroke: black;
    -fx-stroke-width: 1px;
}

.outlineTitle.label .text {
    -fx-fill: #c8b6e2;
    -fx-stroke: black;
    -fx-stroke-width: 0.5px;
}

/* ComboBox styles */
.combo-box .cell{
    -fx-text-fill: #666666;
    -fx-alignment: center;
    -fx-font: 16px "Consolas";
}
.combo-box {
    -fx-background-color: white;
}

/* RadioButton styles */
.radio-button .radio {
    -fx-background-color: #A8A4CE;
    -fx-border-width: 0.5px;
    -fx-border-color: black;
    -fx-border-radius: 20px;
    -fx-padding: 3px;
}

.radio-button:selected .radio .dot {
    -fx-background-color: black;
    -fx-background-insets: -3;
}
.radio-button .text {
    -fx-fill: #c8b6e2;
    -fx-stroke: black;
    -fx-stroke-width: 0.5px;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
}

/* Chart styles */
.axis:right {
    -fx-border-color: transparent transparent transparent black;
}
.axis:left {
    -fx-border-color: transparent black transparent transparent;
}
.axis:bottom{
    -fx-border-color: black transparent transparent;
}
.axis-tick-mark {
    -fx-stroke: black
}

.chart {
    -fx-padding: 10px;
}
.chart-content {
    -fx-padding: 10px;
}
.chart-vertical-grid-lines {
    /*-fx-stroke: lightgrey;
    -fx-opacity: 0.25;*/
    -fx-stroke: transparent;
}
.chart-horizontal-grid-lines {
    /*-fx-stroke: lightgrey;
    -fx-opacity: 0.25;*/
    -fx-stroke: transparent;
}

.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-series-line {
    -fx-stroke: red;
    -fx-stroke-width: 5px;
    -fx-effect: null;
}
.chart-line-symbol {
    -fx-background-color: black, red;
}

.chart-legend {
    -fx-pref-width: 0;
    -fx-opacity: 0;
    -fx-cell-size: 0;
}
.default-color0.chart-bar {
    -fx-bar-fill: #0077FF;
}

/* Button Style */
.button {
    -fx-background-color: #7A86B6;

    /*linear-gradient(#38424b 0%, #1f2429 20%, #191d22 100%),
    linear-gradient(#20262b, #191d22),
    radial-gradient(center 50% 0%, radius 100%, rgba(114,131,148,0.9), rgba(255,255,255,0));*/
    -fx-background-radius: 5,4,3,5;
    -fx-background-insets: 0,1,2,0;
    -fx-text-fill: white;
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,0.6) , 5, 0.0 , 0 , 1 );
    -fx-font-family: "Inter";
    -fx-text-fill: linear-gradient(white, #d0d0d0);
    -fx-font-size: 12px;
    -fx-padding: 5 15 5 15;
}
.button .text {
    -fx-effect: dropshadow( one-pass-box , rgba(0,0,0,0.5) , 1, 0.1 , 0.1 , 1 );
}
.button:hover {
    -fx-background-color:
        linear-gradient(from 0% 93% to 0% 100%, #090a0c 0%, #7A86B6 100%),
        #090a0c,
        #090a0c,
        radial-gradient(center 50% 50%, radius 100%, #090a0c, #7A86B6);
}
.button:pressed {
    -fx-font-weight: bold;
    -fx-background-color: #090a1c;
}

.menu:hover {
    -fx-effect: innershadow(three-pass-box , rgba(0,0,0,1) , 5, 0.0 , 0 , 1);
    -fx-font-weight: bold;
}

/* Text Areas */
.text-area {

    -fx-border-width: 1;
    -fx-text-fill: black;
    -fx-font-size: 16;
    -fx-text-alignment: center;
    -fx-display-caret:false;
}
.text-area .content{
    -fx-display-caret:false;
    -fx-background-color: #C8B6E2;
}