.axis:right {-fx-border-color: transparent transparent transparent black;}
.axis:left {-fx-border-color: transparent black transparent transparent;}
.axis:bottom{-fx-border-color: black transparent transparent;}
.axis-tick-mark {-fx-stroke: black}

.chart {
    -fx-padding: 5px;
}
.chart-content {
    -fx-padding: 10px;
}
.chart-vertical-grid-lines {
    -fx-stroke: lightgrey;
    -fx-opacity: 0.25;
}
.chart-horizontal-grid-lines {
    -fx-stroke: lightgrey;
    -fx-opacity: 0.25;
}

.chart-plot-background {
    -fx-background-color: transparent;
}
.chart-series-line {
    -fx-stroke: red;
    -fx-stroke-width: 5px;
    -fx-effect: null;
}
.chart-line-symbol {
    -fx-background-color: black, red;
}

.chart-legend {
    -fx-pref-width: 0;
    -fx-opacity: 0;
    -fx-cell-size: 0;
}